.logo{
    background: url(../images/logo.svg) no-repeat;
    min-width: 121px;
    height: 55px;
}
@media (min-width:$breakpoint-md){
a.logo-position{top: -27px;
        left:0;}
}
@media (min-width:$breakpoint-sm){
        .logo-position{

            top: -27px;
            left:50%;
        }
    }

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248,181,46)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }




