
.petBannerPic{
        background: url(../images/homestay-1.png) no-repeat;
        background-position:center;
        background-size: cover;
        height: 315px;
}

.petBannerPic{
    background: url(../images/homestay-1.png) no-repeat;
    background-position:center;
    background-size: cover;
    height: 315px;
}
.homestayPic-1{
    background: url(../images/homestay-2.jpeg) no-repeat;
    background-position:center;
    background-size: cover;

    height: 128px;
}
.homestayPic-2{
    background: url(../images/homestay-3.jpeg) no-repeat;
    background-position:center;
    background-size: cover;

    height: 128px;
}
.homestayPic-3{
    background: url(../images/homestay-4.jpeg) no-repeat;
    background-position:center;
    background-size: cover;

    height: 128px;
}
.homestayPic-4{
    background: url(../images/homestay-5.jpeg) no-repeat;
    background-position:center;
    background-size: cover;

    height: 128px;
}
.homestayPic-5{
    background: url(../images/homestay-6.jpeg) no-repeat;
    background-position:center;
    background-size: cover;

    height: 128px;
}
.homestayPic-6{
    background: url(../images/homestay-7.jpeg) no-repeat;
    background-position:center;
    background-size: cover;

    height: 128px;
}
.homestayPic-7{
    background: url(../images/index-2.jpeg) no-repeat;
    background-position:center;
    background-size: cover;

    height: 128px;
}
.homestayPic-8{
    background: url(../images/homestay-8.jpeg) no-repeat;
    background-position:center;
    background-size: cover;

    height: 128px;
}

.sellerPic1{
    background: url(../images/index-2.jpeg) no-repeat;
    background-position:center;
    background-size: cover;
    height: 120px;
}
.sellerPic2{
    background: url(../images/index-3.jpeg) no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    height: 120px;
}
.sellerPic3{
    background: url(../images/index-4.jpeg) no-repeat;
    background-position:center;
    background-size: cover;
    height: 120px;
}
.top-custom{
top: 75px;
}
.carousel-arrow-position{
    right: -22px;
}
